thriftee-xml-protocol/src/main/resources/org/thriftee/thrift/xml/protocol/thrift-xml-protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
        targetNamespace="http://thrift.apache.org/xml/protocol" 
        xmlns:tns="http://thrift.apache.org/xml/protocol" 
        elementFormDefault="qualified">

  <element name="m1" type="tns:ConciseMessageType" />
  <element name="m2" type="tns:ConciseMessageType" />
  <element name="m3" type="tns:ConciseMessageType" />
  <element name="m4" type="tns:ConciseMessageType" />
  <element name="t12" type="tns:ConciseStructType" />

  <element name="call" type="tns:VerboseMessageType" />
  <element name="reply" type="tns:VerboseMessageType" />
  <element name="exception" type="tns:VerboseMessageType" />
  <element name="oneway" type="tns:VerboseMessageType" />
  <element name="struct" type="tns:VerboseStructType" />

  <complexType name="ConciseMessageType">
    <sequence>
      <element name="t12" type="tns:ConciseStructType" />
    </sequence>
    <attribute name="n" type="string" />
    <attribute name="q" type="int" />
  </complexType>

  <complexType name="VerboseMessageType">
    <sequence>
      <element name="struct" type="tns:VerboseStructType" />
    </sequence>
    <attribute name="name" type="string" />
    <attribute name="type" type="unsignedByte" />
    <attribute name="seqid" type="int" />
  </complexType>

  <complexType name="ConciseStructType">
    <sequence>
      <choice minOccurs="1" maxOccurs="unbounded">
        <element name="t2">
          <complexType>
            <simpleContent>
              <extension base="tns:bool">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="t3">
          <complexType>
            <simpleContent>
              <extension base="tns:i8">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="t4">
          <complexType>
            <simpleContent>
              <extension base="tns:double">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="t6">
          <complexType>
            <simpleContent>
              <extension base="tns:i16">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="t8">
          <complexType>
            <simpleContent>
              <extension base="tns:i32">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="t10">
          <complexType>
            <simpleContent>
              <extension base="tns:i64">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="t11">
          <complexType>
            <simpleContent>
              <extension base="tns:string">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="t12">
          <complexType>
            <complexContent>
              <extension base="tns:ConciseStructType">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </complexContent>
          </complexType>
        </element>
        <element name="t13">
          <complexType>
            <complexContent>
              <extension base="tns:ConciseMapType">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </complexContent>
          </complexType>
        </element>
        <element name="t14">
          <complexType>
            <complexContent>
              <extension base="tns:ConciseSetType">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </complexContent>
          </complexType>
        </element>
        <element name="t15">
          <complexType>
            <complexContent>
              <extension base="tns:ConciseListType">
                <attributeGroup ref="tns:ConciseFieldAttributes" />
              </extension>
            </complexContent>
          </complexType>
        </element>
      </choice>
    </sequence>
  </complexType>

  <complexType name="VerboseStructType">
    <sequence>
      <choice minOccurs="1" maxOccurs="unbounded">
        <element name="bool">
          <complexType>
            <simpleContent>
              <extension base="tns:bool">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="i8">
          <complexType>
            <simpleContent>
              <extension base="tns:i8">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="double">
          <complexType>
            <simpleContent>
              <extension base="tns:double">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="i16">
          <complexType>
            <simpleContent>
              <extension base="tns:i16">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="i32">
          <complexType>
            <simpleContent>
              <extension base="tns:i32">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="i64">
          <complexType>
            <simpleContent>
              <extension base="tns:i64">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="string">
          <complexType>
            <simpleContent>
              <extension base="tns:string">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </simpleContent>
          </complexType>
        </element>
        <element name="struct">
          <complexType>
            <complexContent>
              <extension base="tns:VerboseStructType">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </complexContent>
          </complexType>
        </element>
        <element name="map">
          <complexType>
            <complexContent>
              <extension base="tns:VerboseMapType">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </complexContent>
          </complexType>
        </element>
        <element name="set">
          <complexType>
            <complexContent>
              <extension base="tns:VerboseSetType">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </complexContent>
          </complexType>
        </element>
        <element name="list">
          <complexType>
            <complexContent>
              <extension base="tns:VerboseListType">
                <attributeGroup ref="tns:VerboseFieldAttributes" />
              </extension>
            </complexContent>
          </complexType>
        </element>
      </choice>
    </sequence>
    <attribute name="name" type="tns:IdentifierType" />
  </complexType>

  <attributeGroup name="ConciseFieldAttributes">
    <attribute name="i" type="tns:FieldIdType" use="required" />
    <attribute name="n" type="tns:IdentifierType" />
  </attributeGroup>

  <attributeGroup name="VerboseFieldAttributes">
    <attribute name="field" type="tns:FieldIdType" use="required" />
    <attribute name="fname" type="tns:IdentifierType" />
  </attributeGroup>

  <group name="ConciseThriftValue">
    <choice>
      <element name="t2" type="tns:bool" />
      <element name="t3" type="tns:i8" />
      <element name="t4" type="tns:double" />
      <element name="t6" type="tns:i16" />
      <element name="t8" type="tns:i32" />
      <element name="t10" type="tns:i64" />
      <element name="t11" type="tns:string" />
      <element name="t12" type="tns:ConciseStructType" />
      <element name="t13" type="tns:ConciseMapType" />
      <element name="t14" type="tns:ConciseSetType" />
      <element name="t15" type="tns:ConciseListType" />
    </choice>
  </group>

  <group name="VerboseThriftValue">
    <choice>
      <element name="bool" type="tns:bool" />
      <element name="i8" type="tns:i8" />
      <element name="double" type="tns:double" />
      <element name="i16" type="tns:i16" />
      <element name="i32" type="tns:i32" />
      <element name="i64" type="tns:i64" />
      <element name="string" type="tns:string" />
      <element name="struct" type="tns:VerboseStructType" />
      <element name="map" type="tns:VerboseMapType" />
      <element name="set" type="tns:VerboseSetType" />
      <element name="list" type="tns:VerboseListType" />
    </choice>
  </group>

  <attributeGroup name="ConciseContainerAttributes">
    <attribute name="z" type="int" />
    <attribute name="v" type="tns:typename" />
  </attributeGroup>

  <attributeGroup name="ConciseMapAttributes">
    <attribute name="k" type="tns:typename" />
    <attributeGroup ref="tns:ConciseContainerAttributes" />
  </attributeGroup>

  <complexType name="ConciseMapType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <group ref="tns:ConciseThriftValue" minOccurs="1" maxOccurs="1" />
      <group ref="tns:ConciseThriftValue" minOccurs="1" maxOccurs="1" />
    </sequence>
    <attributeGroup ref="tns:ConciseMapAttributes" />
  </complexType>

  <complexType name="ConciseSetType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <group ref="tns:ConciseThriftValue" minOccurs="1" maxOccurs="1" />
    </sequence>
    <attributeGroup ref="tns:ConciseContainerAttributes" />
  </complexType>

  <complexType name="ConciseListType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <group ref="tns:ConciseThriftValue" minOccurs="1" maxOccurs="1" />
    </sequence>
    <attributeGroup ref="tns:ConciseContainerAttributes" />
  </complexType>

  <attributeGroup name="VerboseContainerAttributes">
    <attribute name="size" type="int" />
    <attribute name="value" type="tns:typename" />
  </attributeGroup>

  <attributeGroup name="VerboseMapAttributes">
    <attribute name="key" type="tns:typename" />
    <attributeGroup ref="tns:VerboseContainerAttributes" />
  </attributeGroup>

  <complexType name="VerboseMapType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <group ref="tns:VerboseThriftValue" minOccurs="1" maxOccurs="1" />
      <group ref="tns:VerboseThriftValue" minOccurs="1" maxOccurs="1" />
    </sequence>
    <attributeGroup ref="tns:VerboseMapAttributes" />
  </complexType>

  <complexType name="VerboseSetType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <group ref="tns:VerboseThriftValue" minOccurs="1" maxOccurs="1" />
    </sequence>
    <attributeGroup ref="tns:VerboseContainerAttributes" />
  </complexType>

  <complexType name="VerboseListType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <group ref="tns:VerboseThriftValue" minOccurs="1" maxOccurs="1" />
    </sequence>
    <attributeGroup ref="tns:VerboseContainerAttributes" />
  </complexType>

  <simpleType name="typename">
    <restriction base="string" />
  </simpleType>

  <simpleType name="i8">
    <restriction base="byte" />
  </simpleType>

  <simpleType name="i16">
    <restriction base="short" />
  </simpleType>

  <simpleType name="i32">
    <restriction base="int" />
  </simpleType>

  <simpleType name="i64">
    <restriction base="long" />
  </simpleType>

  <simpleType name="double">
    <restriction base="double" />
  </simpleType>

  <simpleType name="string">
    <restriction base="string" />
  </simpleType>

  <simpleType name="bool">
    <restriction base="boolean" />
  </simpleType>

  <simpleType name="IdentifierType">
    <restriction base="string" />
  </simpleType>

  <simpleType name="FieldIdType">
    <restriction base="short" />
  </simpleType>

</schema>